{% extends "base.html" %}

{% block title %}

    W3BEX | Soluciones de Software.

{% endblock %}

{% block head %}

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.smooth-scroll.min.js"></script>

<script>

$(document).ready(function(){


	// Initialize Bootstrap plugins.

	$('[rel=popover]').popover({trigger:'hover', placement: 'top', 'delay': 300});


	// Sending project form.

	$('#project-submit-btn').click(function(e){
		
		e.preventDefault();
		
		// Validate form
		
		var valid = true; 

		nombre = $('[name=nombre]');
		telefono = $('[name=telefono]');
		email = $('[name=email]');
		descripcion = $('[name=descripcion]');
		
		$.each([nombre, telefono, descripcion], function(index, el){
			if(!validateRequired(el)){
				el.parent().addClass('error');
				valid = false;
			}else{
				el.parent().removeClass('error');
			}
		});

		if (!validateEmail(email)){
			email.parent().addClass('error');
			valid = false;
		}else{
			email.parent().removeClass('error');
		}

		if(valid){
			
			var btn = $(this);
			btn.button('loading');


			// Disabling controls
			
			//$('.project input, .project textarea, .project select, .project button').attr('disabled', 'disabled');


			// Sending data.
			$('#send-project-form').serialize();
			var request = $.post('send_project', $('#send-project-form').serialize(), function(d){
				btn.button('reset');
				if (d=='OK'){
					$('#project-cover').show();
				}else{
					showError();
				}	

			});

			request.error(function(){ 
				showError();
				btn.button('reset');
			});
		}else{	

			// Do form invalid stuff.
			
			alert('Algunos campos requeridos del formulario estan incompletos, o contienen informacion inválida, por favor, compruebe los datos antes de enviar.');

		}


	});


	// Setting up smooth scrolling.

	$('.navbar a, .splash a').smoothScroll();

	
	// Load splash image asynchronusly

	loadSplashBackground();


});

// Validate functions

function validateRequired(el){
	if (el.val() != '') {
		return true;
	}else{
		return false;
	}
}

function validateEmail(el){
	if (el.val().indexOf('@')!=-1 && el.val().indexOf('.')!=-1){
		return true;
	}else{
		return false;
	}
}

function showError(){
	alert('Ha ocurrido un error, por favor intente mas tarde, disculpe las molestias');
}

function loadSplashBackground(){

	img = new Image();
	imgURL = "{{ STATIC_URL }}img/splash/{{ splash_background }}";

	// When the image finished loading.
	img.onload = function(){
		$('.splash').css({'background-image': 'url("'+imgURL+'")', 'background-position': 'center center'});
		$('#splash-cover').css('background-color', 'transparent');
	}

	// Start loading

	img.src = imgURL;
}


</script>


<!-- Cargar Facebook Code -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- Cargar Twitter Code -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


{% endblock %}


{% block body %}


<!-- Barra de navegacion -->
  
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class='container'>

    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <a class="logo" href="./"><img src='{{ STATIC_URL }}img/w3bex-logo.png'> <i class='icon-refresh icon-white'></i></a>
    
    <div class='nav-collapse collapse'>
      <ul class="nav pull-right">
        <li class=""><a href="#services"><i class='icon-question-sign icon-white'></i> Que hacemos</a></li>
        <li><a href="#team"><i class='icon-camera icon-white'></i> Conozca al equipo</a></li>
        <li><a href="#budget"><i class='icon-bullhorn icon-white'></i> Cuentenos de su proyecto</a></li>
        <li><a href="#contact"><i class='icon-envelope icon-white'></i> Contáctenos</a></li>
      </ul>
    </div>

    </div>
  </div>
</div> 


<!-- Splash -->

<div class='splash' id='splash'>
  <div id='splash-cover'>
    <div class='container'>
      <h1>W3BEX</h1>
      <p>De a conocer sus productos, expanda su mercado, optimice procesos administrativos, automatice tareas.</p>
      <p><a href='#budget' class='btn btn-primary btn-large'>Cuentenos de su proyecto</a></p>
    </div>
  </div>
</div>


<!-- Social
-------------------------------------------- -->

<div class='social'>
  <div class='container'>
    <ul>
      <li>
        <a href="https://twitter.com/w3bex" class="twitter-follow-button" data-show-count="true" data-lang="es">Seguir @w3bex</a>
      </li>
      <li>
        <div class="fb-like" data-href="http://facebook.com/w3bex" data-send="true" data-layout="button_count" data-width="auto" data-show-faces="true" data-font="arial"></div>
      </li>
    </ul>
  </div>
</div>



<!-- Marketing
-------------------------------------------- -->

<div class='container'>
  <div class='marketing'>
    <h1 id='services'>Nuestros Servicios</h1>
    <p class='frase-seccion'>Algunas de las cosas que podemos hacer.</p>
    <div class='row-fluid'>
      <div class='span4'>
        <hr class='visible-phone'>
        <img src='{{ STATIC_URL }}img/social.png'>
        <h2>Redes Sociales</h2>
        <p>Integramos nuestras soluciones de software con las mas 
        populares redes sociales, para que sus actividades tengan
        mas impacto en sus clientes.</p>
      </div>
      <div class='span4'>
        <hr class='visible-phone'>
        <img src='{{ STATIC_URL }}img/multi-platform.png'>
        <h2>Sistemas Multiplataforma</h2>
        <p>Desarrollamos aplicaciones para cualquier plataforma.
        Web, Desktop y Dispositivos moviles.</p>
      </div>
      <div class='span4'>
        <hr class='visible-phone'>
        <img src='{{ STATIC_URL }}img/ecommerce.png'>
        <h2>E-Commerce</h2>
        <p>Construimos plataformas de venta en línea.
        Expanda su mercado y llegue a todo lugar con su producto</p>
      </div>
    </div>
    <hr> 
    <h1 id='team'>Conozca al equipo</h1>
    <p class='frase-seccion'>Aqui se origina la magia de w3bex.</p>
    <div class='team-pics'>
      <div class='pic' rel="popover" data-original-title='Leonardo Ferreyra' data-content='Project Manager, UX Designer.' style='background-image:url("{{ STATIC_URL }}img/team/leo.png");'></div>
      <div class='pic' rel="popover" data-original-title='Franco Escobar' data-content='Backend developer, Java, Python.' style='background-image:url("{{ STATIC_URL }}img/team/franco.png");'></div>
      <div class='pic' rel="popover" data-original-title='Marcos Portillo' data-content='Java developer.' style='background-image:url("{{ STATIC_URL }}img/team/marcos.png");'></div>
      <div class='pic' rel="popover" data-original-title='Nicolas Maggione' data-content='Frontend Developer.' style='background-image:url("{{ STATIC_URL }}img/team/nico.png");'></div>
      <div class='pic' rel="popover" data-original-title='Manuel Zubieta' data-content='Frontend developer.' style='background-image:url("{{ STATIC_URL }}img/team/manu.png");'></div>
      <div class='pic' rel="popover" data-original-title='Paulo Muchutti' data-content='Frontend developer, Python developer.' style='background-image:url("{{ STATIC_URL }}img/team/paulo.png");'></div>
    </div>

    <hr> 
    <h1 id='budget'>Cuentenos de su Proyecto</h1>
    <p class='frase-seccion'>Le enviaremos un presupuesto aproximado.</p>
    <div class='project'>
      <form id='send-project-form'>
      {% csrf_token %}
      <div class='row-fluid'>
        <div class='span6'>
	    <div class='control-group'><input name='nombre' type='text' placeholder='Nombre' class='span12'></div>
	    <div class='control-group'><input name='empresa' type='text' placeholder='Empresa (Opcional)' class='span12'></div>
	    <div class='control-group'><input name='telefono' type='text' placeholder='Teléfono' class='span12'></div>
	    <div class='control-group'><input name='email' type='text' placeholder='E-mail' class='span12'></div>

	    <label>Presupuesto disponible</label>
	    <select name='presupuesto'>
              <option value=1 selected>Menos de $2000</option>
              <option value=2>$2000 - $5000</option>
              <option value=3>$5000 - $10000</option>
              <option value=4>$10000 - $50000</option>
              <option value=5>Mas de $50000</option>
	    </select>

	    <label>Marco de Tiempo Disponible</label>
	    <select name='tiempo'>
              <option value=1>Cuanto antes!</option>
              <option value=2 selected>Un par de semanas</option>
              <option value=3>Un mes</option>
              <option value=4>6 Meses</option>
              <option value=5>Cuando sea.</option>
	    </select>
	</div>
	<div class='span6'>
	   <label>Describa su proyecto</label>
	   <div class='control-group'><textarea name='descripcion' rows=10 class='span12 full-width-textarea'></textarea></div>
	   <label class='checkbox'>
	     <input name='mailcopy' type='checkbox' checked>
	     Enviar una copia a mi e-mail.
	   </label>
	</div>
      </div>
      <button id='project-submit-btn' class='btn btn-primary pull-right' data-loading-text='Procesando...'>Enviar</button>
      </form>
      <div id='project-cover'>
        <p>Nos comunicaremos con Ud. a la brevedad.</p>
      </div>
    </div>
    <hr> 
  </div>
</div>


<!-- Footer
-------------------------------------------- -->

<footer id='contact'>
  <img src='{{ STATIC_URL }}img/w3bex-logo.png'>
  <address>
    +54-362-4766656<br>
    <a href='mailto:info@w3bex.com'>info@w3bex.com</a><br><br>
    <a href='http://twitter.com/w3bex' target='_blank'>Twitter: @w3bex</a><br>
    <a href='http://facebook.com/w3bex' target='_blank'>Facebook.com/w3bex</a><br>
  </address>
</footer>



{% endblock %}

